/* General rules */

/* General rules End */

/* Header */

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
}

.main-header {
  height: 175px;
  width: 100%;
  display: flex;
}

.header-item {
  flex: 2;
  height: 100%;
  background-color: grey;
}

.header-item:nth-child(2n) {
  background-color: darkgray;
}

.header-item:first-child {
  flex: 3;
}

/* Header end */

/* Grid-section */

.grid-wraper {
  display: grid;

  /* grid-template-columns: repeat(2, minmax(377px, 50%));
    /* repeat(auto-fill, minmax(300px, 1fr)); */

  /* grid-template-rows: repeat(2, 50%);  */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 500px);
  margin-bottom: -50px;
}

.grid-item {
  /* display: flex;
    height: 25vh; */
  background-color: rgb(182, 182, 182);
}

.grid-item:nth-child(3n + 2) {
  background-color: rgb(116, 116, 116);
}

.articles-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  margin-top: 100px;
  padding-left: 10px;
  grid-gap: 2px;
}

.articles-section:nth-child(5) p {
  background-color: grey;
}

article {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 20px;
}

.articles {
  margin-top: 40px;
}

.float {
  background-color: honeydew;
  height: 80px;
  width: 400px;
  display: flex;
  justify-content: center;
  position: absolute;
  align-content: center;
  margin-left: 470px;
  margin-top: 50px;
}

.news-tv {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 95%;
  vertical-align: bottom;
  border: 1px solid gray;
  background-color: gray;
  margin: 130px 40px;
  border-radius: 16px;
  flex-direction: column;
}

.news-tv h3 {
  margin-bottom: 10px;
  margin-left: -120px;
  font-family: "Times New Roman", Times, serif;
  font-size: 43px;
  font-weight: 700;
  line-height: 52px;
  color: white;
}

.news-tv p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: rgb(255, 255, 255);
}

.see_more {
  display: flex;
  justify-content: center;
  margin-top: -70px;
}
